@media (max-width: 1024px) {
    /* about section styling */

}
@media (max-width: 991px) {
    /* navigation styling */
    .navigation-wrap {
        text-align: center;
        background-color: var(--white-color);
    }
    .navigation-wrap img {
        height: 3.8rem;
    }
    .navigation-wrap .nav-link {
        line-height: 1.9rem;
    }
    /* home section styling */
    .top-banner {
        padding: 9.4rem 0 9.4rem;
    }
    /* testimonial section styling */
    .testimonial-section .carousel-caption p {
        padding: 0;
    }
    
}
@media (max-width: 767px) {
    h1 { 
        font-size: 2.8rem;
    }
    h2 {
        font-size: 2rem;
    }
    /* home section styling */
    .top-banner {
        padding: 10.9rem 0 9.4rem;
    }
    /* story section styling */
    .story-section {
        height: auto;
        padding: 3rem 0;
    }

    /* testimonial section styling */
    .testimonial-section .carousel-item {
        padding: 11rem 3.1rem;
    }

    /* newsletter section styling */
    .newsletter-section {
       width: 75%;
    }
    .newsletter-section .main-btn {
        width: 100%;
        margin-top: 1rem;
    }

    /* footer styling  */
    .footer-section .footer-link,
    .footer-section a i {
        padding: 0 0.7rem;
    }

}
@media (max-width: 330px) {
    /* testimonial section styling */
    .testimonial-section .carousel-item {
        padding: 11rem 3.1rem;
    }

}