@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --primary-color: #ab2c48;
    --secondary-color: #43121d;
    --third-color: #f98169;
    --white-color: #fff;
    --text-color: #555;
    --text-gray: #999;
    --black-color: #000;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}
:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:hover {
    color: var(--primary-color) !important;
}
/* custom scrollbar */
::-webkit-scrollbar {
    width: 0.6rem;
}
::-webkit-scrollbar-track {
    background: var(--white-color);
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}
/* custom css */
h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--primary-color);
}
h2 {
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    line-height: 3rem;
}
h4 {
    font-size: 18px;
    font-weight: 800;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
}
h5 {
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
}
p {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 1px;
}
.main-btn {
    padding: 0.6rem 1.9rem;
    background: var(--primary-color);
    border: 0.19rem solid var(--primary-color);
    color: var(--white-color);
    font-weight: 600;
    text-decoration: capitalize;
    box-shadow: 0 2px 10px -1px rgb(0 0 0 / 19%);
    transition: all 0.4s ease-out;
}
.white-btn {
    padding: 0.6rem 2rem;
    background-color: var(--white-color);
    border: 0.2rem solid var(--white-color);
    font-size: 0.9rem;
    font-weight: 600;
    box-shadow: 0 2px 10px -1px rgb(0 0 0 / 19%);
    text-transform: capitalize;
    transition: all 0.4s ease-out;
    color: var(--text-gray);
}
.main-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
}
/* mavigation bar styling */
.navigation-wrap {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease-out;
}
.navigation-wrap .nav-item {
    padding: 0 0.6rem;
    transition: all 0.2s linear;
}
.navbar-toggler:focus {
    outline: 0;
    border: unset;
    box-shadow: none;
}
.navigation-wrap a {
    font-size: 0,9rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--primary-color);
}
.navigation-wrap .main-btn {
    margin-left: 1rem;
    box-shadow: none;
    padding: 0.3rem 1.4rem ;
}
.navigation-wrap .scroll-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white-color);
    box-shadow: 0 0.1rem 1.8rem 0 rgba(0, 0, 0, 0.9);
    transition: all 0.15s ease-in-out;
}
/* home section styling */
.top-banner {
    width: 100%;
    background: url('./images/bg/bg-1.jpg') no-repeat center;
    background-size: cover;
    padding: 16.9rem 0 9.4rem;
}
/* counter section styling */
.counter-section {
    background-color: var(--primary-color);
    padding: 2.5rem 0;
}
.counter-section p {
    color: var(--white-color);
    text-transform: uppercase;
}
